Icon_1 ICON "Resources\\add.ico"
Icon_2 ICON "Resources\\add-disabled.ico"
Icon_3 ICON "Resources\\add-double.ico"
Icon_4 ICON "Resources\\archive.ico"
Icon_5 ICON "Resources\\browse.ico"
Icon_6 ICON "Resources\\build.ico"
Bitmap_1 BITMAP "Resources\\Check.bmp"
Icon_7 ICON "Resources\\connected.ico"
Icon_8 ICON "Resources\\dictionary.ico"
Icon_9 ICON "Resources\\dictionary-disabled.ico"
Icon_10 ICON "Resources\\dictionary-double.ico"
Icon_11 ICON "Resources\\disallow.ico"
Icon_12 ICON "Resources\\disconnected.ico"
Icon_13 ICON "Resources\\download.ico"
Icon_14 ICON "Resources\\faces.ico"
Icon_15 ICON "Resources\\fallout 4 96.ico"
Icon_16 ICON "Resources\\fallout new vegas96.ico"
Icon_17 ICON "Resources\\fallout96.ico"
Icon_18 ICON "Resources\\find.ico"
Icon_19 ICON "Resources\\find-disabled.ico"
Icon_20 ICON "Resources\\find-double.ico"
Icon_21 ICON "Resources\\force.ico"
Icon_22 ICON "Resources\\fragments.ico"
Icon_23 ICON "Resources\\gear.ico"
Icon_24 ICON "Resources\\gear-disabled.ico"
Icon_25 ICON "Resources\\gear-double.ico"
Icon_26 ICON "Resources\\go.ico"
Icon_27 ICON "Resources\\go-double.ico"
Icon_28 ICON "Resources\\help.ico"
Icon_29 ICON "Resources\\help-disabled.ico"
Icon_30 ICON "Resources\\help-double.ico"
Icon_31 ICON "Resources\\help-double-2.ico"
Icon_32 ICON "Resources\\hourglass.ico"
Icon_33 ICON "Resources\\ignore.ico"
Icon_34 ICON "Resources\\link.ico"
Icon_35 ICON "Resources\\loop.ico"
Icon_36 ICON "Resources\\manage.ico"
Icon_37 ICON "Resources\\manage-disabled.ico"
Icon_38 ICON "Resources\\manage-double.ico"
Icon_39 ICON "Resources\\menu.ico"
Icon_40 ICON "Resources\\no_errors.ico"
Icon_41 ICON "Resources\\oblivion96.ico"
Icon_42 ICON "Resources\\oDeletions.ico"
Icon_43 ICON "Resources\\paperclip.ico"
Bitmap_2 BITMAP "Resources\\PartialCheck.bmp"
Icon_44 ICON "Resources\\pDeletions.ico"
Icon_45 ICON "Resources\\rebuild.ico"
Icon_46 ICON "Resources\\rebuild-disabled.ico"
Icon_47 ICON "Resources\\rebuild-double.ico"
JpgImage_1 RCDATA "Resources\\red hulk big.jpg"
JpgImage_2 RCDATA "Resources\\red hulk full.jpg"
Icon_48 ICON "Resources\\redx.ico"
Icon_49 ICON "Resources\\report.ico"
Icon_50 ICON "Resources\\report-disabled.ico"
Icon_51 ICON "Resources\\report-double.ico"
Icon_52 ICON "Resources\\singleEntity.ico"
Icon_53 ICON "Resources\\skyrim96.ico"
Icon_54 ICON "Resources\\skyrimse96.ico"
PngImage_1 RCDATA "Resources\\smash.png"
Icon_55 ICON "Resources\\smash-icon.ico"
Bitmap_3 BITMAP "Resources\\UnCheck.bmp"
Icon_56 ICON "Resources\\update.ico"
Icon_57 ICON "Resources\\update-disabled.ico"
Icon_58 ICON "Resources\\update-double.ico"
Icon_59 ICON "Resources\\updateProgram.ico"
Icon_60 ICON "Resources\\voice5.ico"
Icon_61 ICON "Resources\\warning.ico"
Icon_62 ICON "Resources\\x.ico"
